/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)), url('your-background-image.jpg'); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background: linear-gradient(to bottom, skyblue, pink);
    
    
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#course-title {
    margin-bottom: 0.5rem;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 1rem;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Course information styles */
.CourseInformation {
    padding: 2rem;
}

.course-name {
    color: #333;
}

.CourseInformation img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2 {
    margin-top: 1.5rem;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
}

/* Download button styles */
.download {
    text-align: center;
    margin-top: 2rem;
}

.download button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.download button a {
    color: white;
    text-decoration: none;
}
